*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    background-color: aqua;
}
.imageSlider{
    min-width: 80%;
    width: 80%;
    margin: 20px 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.previewImg{
    width: 40%;
    border:1px rgba(76, 0, 255, 0.747) solid;
    padding: 2px;
    height: auto;
    opacity: 80%;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.animationHandle{
    width: 100px;
    background-color: black;
}