*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    background-color: aqua;
}
.imageSlider{
    min-width: 80%;
    width: 80%;
    background-color: blue;
    border: red solid 0.5px;
}
.previewImg{
    width: 40%;
    max-height: 150px;
    min-height: 100px;
}
