* {
	margin: 0;
	padding: 0;
}
/* ------------------ Style for Navigation Bar ------------------ */
ul.navigationBar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

ul.navigationBar li {
	float: left;
}

ul.navigationBar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

ul.navigationBar li a:hover:not(.active) {
	background-color: #04aa6d41;
}

ul.navigationBar li a.active {
	background-color: #04aa6d;
}

ul.navigationBar li.right {
	float: right;
}

@media screen and (max-width: 600px) {
	ul.navigationBar li.right,
	ul.navigationBar li {
		float: none;
	}
}
/* ------------------ Style for Image Viewer ------------------ */
* {
	box-sizing: border-box;
}

body {
	background-color: #f1f1f1;
	padding: 20px;
	font-family: Arial;
}

/* Center website */
.imageMainContain {
	max-width: 1000px;
	margin: auto;
}

.imageRow {
	margin: 8px -16px;
}

/* Add padding BETWEEN each imageColumn */
.imageRow,
.imageRow > .imageColumn {
	padding: 8px;
}

/* Create four equal imageColumns that floats next to each other */
.imageColumn {
	float: left;
	width: 25%;
}

/* Clear floats after imageRows */
.imageRow:after {
	imagecontent: '';
	display: table;
	clear: both;
}

/* imageContent */
.imageContent {
	background-color: white;
	padding: 10px;
}

/* Responsive layout - makes a two imageColumn-layout instead of four imageColumns */
@media screen and (max-width: 900px) {
	.imageColumn {
		width: 50%;
	}
}

/* Responsive layout - makes the two imageColumns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.imageColumn {
		width: 100%;
	}
}
